body {
    background-color: antiquewhite;
}
div {
border: 8px solid black;
padding: 16px;
margin: 16px;
width: 512px;
height: 128px;
background-color: aquamarine;
}
div:nth-of-type(2) {
    padding: 16px;
    margin: 16px;
    width: 512px;
    height: 128px;
    border: 8px solid black;
    background-color: azure;
  }